#### ALL ABOUT NUMPY

In [ ]:
import numpy as np

arr1 = np.array([1, 2, 3, 4, 5])
print(arr1)
print(arr1.shape)

arr = np.arange(0,10,2) 
print(arr)

arr_reshaped = arr.reshape(5,1)
print(arr_reshaped)

print(np.ones((3,4)))   # 3x4 matrix of ones
print(np.zeros((2,3)))  # 2x3 matrix of zeros
print(np.eye(3))        # 3x3 Identity matrix

# vector functions
a = np.array([1,2,3,4,5])
b = np.array([10,20,30,40,50])
print(a+b)

#Universal; Functions
print(np.sqrt(arr))
print(np.exp(arr))
print(np.sin(arr))
print(np.log(arr))


data = np.array([1,2,3,4,5])
print(np.mean(data))    # 3.0
print(np.median(data))  # 3.0
print(np.std(data))     # standard deviation
print(np.var(data))     # var

mean = np.mean(data)
std = np.std(data)
normalized = (data - mean) / std
print(normalized)

data = np.array([1,2,3,4,5,6,7,8,9,10])

print(data > 5)
# [False False False False False  True  True  True  True  True]

print(data[data>5])
# [ 6  7  8  9 10]

# Multiple conditions
print(data[(data>=5) & (data<=8)])

###  PANDA WOKR'S

In [ ]:
import pandas as pd


# Series
s=pd.Series([1,2,34,5,6])
s1=pd.Series({'a':1,'b':2,'c':3})
s2=pd.Series([1,2,3],index=['x','y','z'])

print(s,"\n",s1,"\n",s2)

# DataFrame: A DataFrame is a two-dimensional mutable table with labeled rows and columns.Similar to Excel sheets or SQL tables.
data = {
    'Name': ['Krish','John','Jack'],
    'Age': [25,30,45],
    'City': ['Bangalore','New York','Florida']
}
df = pd.DataFrame(data)
print(data)
print("-------------------")
print(df)

# From a list of dictionaries
data = [
    {'Name':'Krish','Age':25,'City':'Bangalore'},
    {'Name':'John','Age':30,'City':'New York'},
    {'Name':'Jack','Age':45,'City':'Florida'}
]
df = pd.DataFrame(data)
print(df)
print("<-------LOCATIONS------->")
print(df.loc[0])   # By label/index (row 0)
print(df.iloc[0])  # By numeric index (row 0)
print(df.at[1,'Age'])   # Row 1, column 'Age'
print(df.iat[2,2])      # Row 2, column 2

print("\n<-------CRUD------->\n")
df['Salary'] = [50000,60000,70000]
print(df)
df.drop('Salary', axis=1, inplace=True)  # Salary named column, axis=1 â†’ columns, made change in db
df['Age'] = df['Age'] + 1  # Increase all ages by 1
df.drop(0, axis=0, inplace=True)  # Remove row with index 0
print(df)

0     1
1     2
2    34
3     5
4     6
dtype: int64
 a    1
b    2
c    3
dtype: int64
 x    1
y    2
z    3
dtype: int64
{'Name': ['Krish', 'John', 'Jack'], 'Age': [25, 30, 45], 'City': ['Bangalore', 'New York', 'Florida']}
-------------------
    Name  Age       City
0  Krish   25  Bangalore
1   John   30   New York
2   Jack   45    Florida
    Name  Age       City
0  Krish   25  Bangalore
1   John   30   New York
2   Jack   45    Florida
<-------LOCATIONS------->
Name        Krish
Age            25
City    Bangalore
Name: 0, dtype: object
Name        Krish
Age            25
City    Bangalore
Name: 0, dtype: object
30
Florida

<-------CRUD------->

    Name  Age       City  Salary
0  Krish   25  Bangalore   50000
1   John   30   New York   60000
2   Jack   45    Florida   70000
   Name  Age      City
1  John   31  New York
2  Jack   46   Florida